*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;

  font-family: 'Work Sans', sans-serif;
  font-weight: 300;

  color: var(--text-color);
}

#root {
  height: 100%;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;

  height: 100%;
}

h1,
h2,h3,h4,h5,h6 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.wiki-layout {
  display: grid;
  grid-template-columns: 25% auto;
  height: 100%;
}

.sidebar {
  align-items: center;
  padding-top: 1rem;
  font-size: 1rem;
}

.wiki-content {
  padding: 1rem 2rem;
  height: 100%;
}

.text-red {
  color: red;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin: auto;
  font-size: 0.8rem;

}
